@model IEnumerable<DSupportWebApp.Models.asis_menuitem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDAsisMenu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDUserGroup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameNL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Controller)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Action)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImgLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDUserCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDUserModified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateModified)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDAsisMenu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDUserGroup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameNL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Controller)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Action)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImgLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDUserCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDUserModified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateModified)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDAsisMenuItem }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDAsisMenuItem }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDAsisMenuItem })
        </td>
    </tr>
}

</table>
