@model DSupportWebApp.Models.asis_controller

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>asis_controller</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ControllerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ControllerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDUserCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDUserCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDUserModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDUserModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateModified)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDController }) |
    @Html.ActionLink("Back to List", "Index")
</p>
