@model IEnumerable<DSupportWebApp.Models.asis_controller>
@using AsisLibrary;

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.IDController)*@
            @ViewBag.RecordID
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.ControllerName)*@
            @ViewBag.ControllerName
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.IDUserCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDUserModified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateModified)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDController)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ControllerName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.IDUserCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDUserModified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateModified)
        </td>*@
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id = item.IDController }) |
            @Html.ActionLink("Details", "Details", new { id = item.IDController }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IDController })
        </td>*@
        <td>
            @{ 
                string strEdit = ViewBag.Edit;
                string strDetails = ViewBag.Details;
                string strDelete = ViewBag.Delete;
            }
            @Html.ImageActionLink(strEdit, "Edit", "asis_controller", new { id = item.IDController }, null, "~/Content/DSupportWebApp/asset/img/edit.gif") |
            @Html.ImageActionLink(strDetails, "Details", "asis_controller", new { id = item.IDController }, null, "~/Content/DSupportWebApp/asset/img/details.gif") |
            @Html.ImageActionLink(strDelete, "Delete", "asis_controller", new { id = item.IDController }, null, "~/Content/DSupportWebApp/asset/img/delete.gif") |


        </td>
    </tr>
}

</table>
