@model IEnumerable<DSupportWebApp.Models.asis_controller>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDController)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ControllerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDUserCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDUserModified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateModified)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDController)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ControllerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDUserCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDUserModified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateModified)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.IDController }) |
            @Html.ActionLink("Details", "Details", new { id = item.IDController }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IDController })
        </td>
    </tr>
}

</table>
