@model IEnumerable<DSupportWebApp.Models.user_list>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDRelPerson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PassWord)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDUserGroup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsBlocked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDUserCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDUserModified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateModified)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDRelPerson)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PassWord)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDUserGroup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsBlocked)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDUserCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDUserModified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateModified)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDUser }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDUser }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDUser })
        </td>
    </tr>
}

</table>
